#wd-assignments-editor {
    padding: 20px;
}

#wd-assignments-editor .row {
    margin-bottom: 15px;
}

#wd-assignments-editor .btn {
    margin-top: 20px;
}

#wd-assignments-editor .form-check {
    margin-bottom: 10px;
}
